{
      "id": "2048",                       # plugin unique id
      "name":"2048 Game",               # plugin name
      "desc":"The most popular mobile game, 2048!",  # plugin description
      "icon":"logo_2048.png",                  # plugin icon
      "md5": "e4cd74bcdae8e6dde0d44aad10334f55",      # plugin file md5 value
      "url": "2048.apk",
      "type":"1",                   # plugin type, useless current
      "forceUpdate": False,         # 该版本是否需要强制更新
      "version": "1.0"       # plugin version
}