{
      "id": "2048",                      # plugin unique id
      "name":"2048小游戏",              # plugin name
      "desc":"The most popular mobile game!", # plugin description
      "icon":"logo_2048.png", # plugin icon
      "url": "2048.apk",
      "type":"1",                   # plugin type, useless current
      "forceUpdate": False,         # 该版本是否需要强制更新
      "version": "1.0"       # plugin version
}