{
      "id": "flappybatta",                      # plugin unique id
      "name":"Flappy Bird",              # plugin name
      "desc":"flappy bird android clone!", # plugin description
      "icon":"flappybatta.png", # plugin icon
      "md5": "f2ae8c97d88299462e2a701137fc4c73",      # plugin file md5 value
      "url": "flappybatta.apk",
      "type":"1",                   # plugin type, useless current
      "forceUpdate": False,         # 该版本是否需要强制更新
      "version": "1.0"       # plugin version
}