{
      "id": "helloworld",                       # plugin unique id
      "name":"helloworld test 1",               # plugin name
      "desc":"this is a plugin test example!",  # plugin description
      "icon":"helloworld.png",                  # plugin icon
      "md5": "e4cd74bcdae8e6dde0d44aad10334f55",      # plugin file md5 value
      "url": "sample.helloworld.apk",
      "type":"1",                   # plugin type, useless current
      "forceUpdate": False,         # 该版本是否需要强制更新
      "version": "20130703.1"       # plugin version
}