<html>
 <head> 
  <title></title> 
  <meta name="author" content="m.jd.com" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" /> 
  <meta name="apple-mobile-web-app-capable" content="yes" /> 
  <meta name="apple-mobile-web-app-status-bar-style" content="black" /> 
  <meta name="format-detection" content="telephone=no" /> 
  <meta http-equiv="Expires" content="-1" /> 
  <meta http-equiv="Cache-Control" content="no-cache" /> 
  <meta http-equiv="Pragma" content="no-cache" /> 
  <link rel="stylesheet" type="text/css" href="http://st.360buyimg.com/item/css/base.css?v=jd2015010420" charset="gbk" /> 
  <link rel="stylesheet" type="text/css" href="http://st.360buyimg.com/item/css/extend.css?v=jd2015010420" charset="gbk" /> 
  <link rel="stylesheet" type="text/css" href="http://st.360buyimg.com/item/css/hotel.css?v=jd2015010420" charset="gbk" /> 
  <link rel="stylesheet" type="text/css" href="http://st.360buyimg.com/item/css/airline.css?v=jd2015010420" charset="gbk" /> 
  <link rel="apple-touch-icon-precomposed" href="http://st.360buyimg.com/item/images/apple-touch-icon.png?v=jd2015010420" /> 
  <script type="text/javascript">
      var _winLocation=window.location.href;
      var _isWebKit = '__proto__' in {};
      if(_isWebKit){
        var _locationList=new Array();
        _locationList.push('/activity/proActList');
        _locationList.push('/activity/proActWareList');
        _locationList.push('/activity/list');
        _locationList.push('/category/');
        _locationList.push('/newslist.html');
        _locationList.push('/newslist/');
        _locationList.push('/news/');
        _locationList.push('/airline/');
        _locationList.push('/hotel/');
        _locationList.push('/tuan/');
        _locationList.push('/hotbrand.html');
        _locationList.push('/ware/view.action');
        _locationList.push('/ware/expandSort.action');
        _locationList.push('/ware/categoryFilter.action');
        _locationList.push('/ware/search.action');
        _locationList.push('/products/');
        _locationList.push('/index/getWare.action')
        _locationList.push('/notice/');
        _locationList.push('/coupons/');
        _locationList.push('/chongzhi/');
        _locationList.push('/comment/');
        _locationList.push('/pay/');
        _locationList.push('/order/');
        _locationList.push('/norder/');
        
        _locationList.push('/seckill/');
        
        _locationList.push('/sale/act/');
        _locationList.push('/sale/mall/');
        
        var _needReplace = false;
        for(var i=0;i<_locationList.length;i++){
          if(_winLocation.indexOf(_locationList[i])!=-1){
            _needReplace=true;
            break;
          }
        }
        var _tmp = _winLocation.replace(/(^http:\/\/)|(\/*$)/g,'');
        if(_tmp.indexOf('/')<0 || (_tmp.split('/').length<=2 && _tmp.indexOf('/index')>=0)){
          _needReplace=true;
        }
                var _dlocationList=new Array();
                _dlocationList.push(/\/product\/([0-9]+)\.html/);
                _dlocationList.push(/\/orderComment\/([0-9]+)\.html/);
                _dlocationList.push(/\/consultations\/([0-9]+)\.html/);
                _dlocationList.push(/\/consultations\/([0-9]+)-([0-9]+)\.html/);
                _dlocationList.push(/\/comments\/([0-9]+)\.html/);
                for(var i=0,len=_dlocationList.length;i<len;i++){
                  if(_dlocationList[i].test(_winLocation)){
                    _needReplace=true;
                     break;
                   }
                }
        if(_needReplace){
          document.write('<script src="http://st.360buyimg.com/item/js/zepto.min.js?v=jd2015010420"><\/script>');
          document.write('<script type="text/javascript">window.jQuery=window.Zepto;<\/script>');
        }else{
          document.write('<script src="http://st.360buyimg.com/item/js/jquery-1.6.2.min.js?v=jd2015010420"><\/script>');
        }
      }else{//?????Ƿ?webkit?ں?ֱ??ʹ??jquery
        document.write('<script src="http://st.360buyimg.com/item/js/jquery-1.6.2.min.js?v=jd2015010420"><\/script>');
      }
    </script>
  <script src="http://st.360buyimg.com/item/js/jquery-1.6.2.min.js?v=jd2015010420"></script> 
  <script type="text/javascript" src="http://st.360buyimg.com/item/js/html5/common.js?v=jd2015010420"></script> 
  <script type="text/javascript" src="http://st.360buyimg.com/item/js/html5/spin.min.js?v=jd2015010420"></script>
  <style></style> 
  <script charset="utf-8" type="text/javascript" src="http://st.360buyimg.com/item/js/2013/installapp.js?v=jd2015010420"></script>
 </head> 
 <body style="margin: 0px auto;" id="body"> 
  <script type="text/javascript" src="http://st.360buyimg.com/item/js/2013/ware/nav.js?v=jd2015010420"></script> 
  <style type="text/css">
  .nav-fixed{position:fixed;background-color:rgba(222,222,222,0.7);top:0;zoom:1;z-index:10;}
  *{
      margin:0;padding:0;
    }
    table{
     max-width: 100% !important;
   width: auto !important;
    }
    img{
     display: block;
   max-width: 100%;
   width: auto !important;
   height: auto !important;
    }
</style>
  {{=content}}
  <script type="text/javascript">
  $(function(){
      $(".detail").hide();
        $("#bookInfo").show();
        $("#wareInfo").show();
        $("li>a").click(function(){
        if($('#fixed').has('nav-fixed')){
          $('#fixed').removeClass('nav-fixed');
        }
          $(".detail").hide();
          $("li>a").removeClass("on");
          $(this).addClass("on");
          var id=$(this).attr("value");
          $("#"+id).show();
      });
    $("body").css("margin","0 auto");
    if($("#wareInfo").html()){
        $("#wareInfo").html($("#wareInfo").html().replace(/<\/td>/g,'</td></tr><tr>'));
        $("#wareInfo").html($("#wareInfo").html().replace(/item.jd.com/g,'m.jd.com/product'));
        $("#wareInfo").html($("#wareInfo").html().replace(/www.360buy.com/g,'m.jd.com'));
    }
    $("#wareInfo img").css("max-width","270px");
    $("#wareInfo table").css("width","300px");
    $("#wareInfo td").css("background-size","300px");
    $("#wareInfo td").css("max-width","300px");
    $("#wareInfo tr").css("max-width","300px");
    $("#wareInfo div").css("width","300px");
    $("#wareInfo div").css("height","auto");
    $("#wareInfo div").css("max-width","300px");
    $("#wareInfo div").css("word-break","break-all");
    $("#wareInfo ul").css("width","300px");
  });
  
      
  $('#fixed').floatNav({
    fixedClass: 'nav-fixed',
      range: 30
}); 
  
</script> 
  <div style="display:none;"> 
   <img src="/ja.jsp?&amp;utmn=820855495&amp;utmr=-&amp;utmp=%2Fware%2Fdetail.action%3FwareId%3D1180220&amp;guid=ON&amp;jav=html5&amp;pin=-&amp;utmac=MO-J2011-1&amp;provinceId=&amp;cityId=&amp;countryId=&amp;townId=&amp;skuId=1180220&amp;skuPrice=&amp;stockState=?ֻ?" /> 
  </div> 
  <script type="text/javascript" src="http://h5.m.jd.com/active/common/ping.min.js"></script> 
  <script type="text/javascript">
            try{
                ping.init();
            }catch(e){
            }
        </script> 
  <script type="text/javascript">
$("#unsupport").hide();
if(!testLocalStorage()){ //not support html5
    if(0!=0 && !$clearCart && !$teamId){
    $("#html5_cart_num").text(0>0>0);
  }
}else{
  updateToolBar('');
}

$("#html5_cart").click(function(){
//  syncCart('354701d324416d78d752e5b7637268e0',true);
  location.href='/cart/cart.action';
});

function reSearch(){
var depCity = window.sessionStorage.getItem("airline_depCityName");
  if(testSessionStorage() && isNotBlank(depCity) && !/^\s*$/.test(depCity) && depCity!=""){
      var airStr = '<form action="/airline/list.action" method="post" id="reseach">'
        +'<input type="hidden" name="sid"  value="354701d324416d78d752e5b7637268e0"/>'
        +'<input type="hidden" name="depCity" value="'+ window.sessionStorage.getItem("airline_depCityName") +'"/>'
        +'<input type="hidden" name="arrCity" value="'+ window.sessionStorage.getItem("airline_arrCityName") +'"/>'
        +'<input type="hidden" name="depDate" value="'+ window.sessionStorage.getItem("airline_depDate") +'"/>'
        +'<input type="hidden" name="depTime" value="'+ window.sessionStorage.getItem("airline_depTime") +'"/>'
        +'<input type="hidden" name="classNo" value="'+ window.sessionStorage.getItem("airline_classNo") +'"/>'
        +'</form>';
      $("body").append(airStr);
      $("#reseach").submit();
  }else{
      window.location.href='/airline/index.action?sid=354701d324416d78d752e5b7637268e0';
  }
}
    $('.div_banner_close').click(function(){
        $('#div_banner_header').unbind('click');
        jQuery.post('/index/addClientCookieVal.json',function(d){
              $('#div_banner_header').slideUp(500);
        });
    });
    $('.div_banner_download').click(function(){
         var downloadUrl = $(this).attr('url');
         jQuery.post('/index/addClientCookieVal.json',function(d){
               window.location.href=downloadUrl;
        });
    });
    window._clientVersion_ = '';
    
  $(document).ready(function(){
    var _loadScript = function(url, options,cb){
      var script = document.createElement("script");
      var def = {
        type: "text/javascript",
        charset:"utf-8"
      }
      options= options|| {
      }
      for(var i in options){
        def[i] = options[i];
      }
      script.src = url;
      
      for(var i in def){
        script.setAttribute(i,def[i]);
      }
      script.addEventListener("load",function(){
        cb && cb();
      },false)
      document.getElementsByTagName("head")[0].appendChild(script);
    }
        if($(".download-con").length || $("#clientArea").length){
      _loadScript("http://st.360buyimg.com/item/js/2013/installapp.js?v=jd2015010420",{},function(){
         $("#clientArea").length && downcheck($("#clientArea"),false);
      });
    }
        
  })
      function skip(){
    addCookie('pcm', '1' ,3, '', 'jd.com');
    var localurl = 'http://www.jd.com/#m';
    if(localurl == 'http://www.jd.com/#m'){
      var localurl = document.location.href;
        if(localurl.indexOf('http://m.jd.com/sale/mall') == 0){
          var saleurl = localurl.replace('http://m.jd.com/sale/mall', 'http://sale.jd.com/mall');
          saleurl = saleurl+'#m'
          window.location.href = saleurl;
        return;
        }else if(localurl.indexOf('http://m.jd.com/sale/act') == 0){
          var saleurl = localurl.replace('http://m.jd.com/sale/act', 'http://sale.jd.com/act');
          saleurl = saleurl+'#m'
          window.location.href = saleurl;
        return;
        }else{
           window.location.href = 'http://www.jd.com/#m';
         return;
        }
    }
    window.location.href = localurl;
  }
  
  function addCookie(name, value, expires, path, domain){ 
        var str=name+"="+escape(value); 
        if(expires!=""){ 
            var date=new Date(); 
            date.setTime(date.getTime()+expires*24*3600*1000);
            str+=";expires="+date.toGMTString(); 
        } 
        if(path!=""){ 
          str+=";path="+path;
        } 
        if(domain!=""){ 
          str+=";domain="+domain; 
        } 
        document.cookie=str; 
    } 
  function search_new(){
    var a = $("#newkeyword").val();
    addSearchHistory(a);
    $('#searchForm').submit();
  }
</script> 
  <iframe style="display: none; width: 0px; height: 0px;"></iframe>
  <iframe style="display: none; width: 0px; height: 0px;"></iframe>
 </body>
</html>